<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".JokerMovieApp"
        android:icon="@drawable/joker_main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/joker_main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JokerMovie">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JokerMovie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>